:root {
    --studentcolor1: gray;
    --studentcolor2: lightgray;
    --primary-color: black;
    --secondary-color: black;
}

* {
    font-family: sans-serif;
}

.templatesgohere {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.singlestudent {
    padding: 1em;
    margin: 0.8em;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
}

.singlestudent:nth-child(odd) {
    background-color: var(--studentcolor1);

}

.singlestudent:nth-child(even) {
    background-color: var(--studentcolor2);

}

.sorting,
.filtering {
    display: flex;
}

.sorting>*,
.filtering>* {
    padding: 0.5em;
    margin: 0.5em;

}

.modal-background {
    position: fixed;
    overflow-y: scroll;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 1em;
    padding: 2em;
    display: flex;
}

.images {
    flex-grow: 1;
    flex-direction: row;
}

.images img {
    object-fit: cover;
    width: 30%;
}

.info {
    flex-grow: 1;
}

.info>* {
    padding: 0.3em;
}

#closemodal {
    cursor: pointer;
    float: right;
    position: relative;
    bottom: 3vh;
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 3em;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.Ravenclaw {
    --primary-color: #04121B;
    --secondary-color: #A67A53;
}

.Hufflepuff {
    --primary-color: #F3DE0B;
    --secondary-color: #0A0A0A;
}

.Gryffindor {
    --primary-color: #4D0506;
    --secondary-color: #B79114;
}

.Slytherin {
    --primary-color: #9E9996;
    --secondary-color: #234723;
}

.hide {
    display: none;
}

.numbers {
    display: flex
}

.numbers p {
    border: 0.5px solid black;
    margin: 1em;
    padding: 0.2em
}